<div class="android-more-section">
  <div class="android-section-title mdl-typography--display-1-color-contrast"> Dynamic Form</div>
  <div class="android-card-container mdl-grid">

    <div *ngIf="loading" [formGroup]="myForm" class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">

      <div *ngFor="let field of formElements" class="form-row">
        <div class="field_container">
          <div [ngSwitch]="field.Type">
            <div *ngSwitchCase="'TextBox'">
              <label [attr.for]="field.Label">{{field.Label}}</label>
              <input [formControlName]="field.Label" [id]="field.Label" [type]="field.Type">
              Hint: {{field.HelpText}}
            </div>



            <div *ngSwitchCase="'CheckBox'">
              <label [attr.for]="field.Label">{{field.Label}}</label>
              <input [formControlName]="field.Label" [id]="field.Label" type="CheckBox">
            </div>

            <div *ngSwitchCase="'Radio'">
              <label [attr.for]="field.Label">{{field.Group}}</label>
              <input [formControlName]="field.Group" [name]="field.Group" [id]="field.Label" type="radio" [value]="field.Default">
              {{field.Label}}
            </div>


          </div>
        </div>

      </div>
      <br /><br />
      <input type="button" value="submit" (click)="formSaved()" [disabled]="myForm.invalid">
    </div>


    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__supporting-text" *ngIf="!!formSavedFlag">
        Form Status : {{myForm.valid | json}}<br /><br />

        Output Values :
        <pre>
              {{myForm.value | json}}
            </pre>
      </div>
    </div>
  </div>
</div>
